
@import url("https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@300&family=Roboto+Slab&family=Young+Serif&display=swap");


@import url("components/container.css");
@import url("components/avatar.css");
@import url("components/buttom.css"); 
@import url("components/banner.css");
@import url("components/card.css");

/* General style rules for fonts and colors */
body {
font-family: 'Roboto Slab', serif;
font-size: 18px; 
margin: 0px;
}

h1, h2,{
font-family: 'Young Serif', serif; 
font-weight: bold;
position: center;
color: white;
}
h3 {
font-family: 'Young Serif', serif; 
font-weight: bold;
position: center;
color: #435334
}


a {
  text-decoration: none;

}



